# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac OS
.DS_Store

# IDEs
.vscode/
.idea/

# Backend
backend/venv/
backend/kegel/
kegel/

# Ignore node_modules if added later
node_modules/

# Logs
*.log
